/* global */
*{
    margin: 0;
    padding: 0;
}
html body{
    background-image: url(../img/beach.jpg);
    margin: 0;
    height: 100%;
}
body{
    /* background-image: url(../img/beach.jpg); */
    /* background-size: cover; */
    background-repeat: none;
}
h1{
    color: blue;
    text-align: center;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
main{
    /* background-image: url(../img/beach.jpg);
    background-size: cover; */
    display: flex;
    height: calc(100vh - 37px);
    
}
#list{
    /* background-color: rgb(255, 244, 235); */
    flex: 6; /* how many sections to divid the screen (Key number is 12 */

}
#form{
    background-color: rgba(177, 197, 252, 0.463);
    flex: 4;
    padding: 10px 20px;
}

/* form */
.flex-item{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 3px;

}
label{
    /* background-color: red; */
    width: 50%;
    text-align: left;
}
input, select, textarea{
    /* background-color: green; */
    width: 80%;
    margin: 0;
    /* padding: 3px; */
}
#iImportant{
    /* background-color: red; */
    color: #1230f456;
    font-size: 20px;
}
#iImportant:hover{
    cursor: pointer;
}


/* list section  */

.task{
    background-color: rgba(177, 197, 252, 0.526);
    padding: 5px;
    margin: 10px 10px;
    display: flex;
    width: 95%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px rgb(190, 221, 250);
}
.task-item{
    /* background-color: red; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px;
    margin: 2px;
    text-align: left;
}
.imp-icon, .empty-cell{
    /* background-color: red; */
    width: 20%;
    text-align: center;
    color: blue;
}
.task-details-box{
    width: 100%;
    /* font-size: bold; */
    line-height: 5px;
}
.task-details-box p{
    font-style: italic;
    text-indent: 10px;
    line-height: normal;
}
#btnDetails{
    background-color: rgba(0, 0, 255, 0.507);
    width: 20%;
    margin-left: 5px;
}